.cart{
    position: relative;

}
.cart svg{
    width: 33px;
    height: 33px;
}
.cart__count{
    width: 18px;
    height: 18px;
    background: var(--green);
    position: absolute;
    top: -2px;
    right: 6px;
    border-radius: 50%;
    transform: translate(100%,-100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
}