.header{
    display: flex;
    align-items: center;
    background: var(--bg);
    height: var(--hegihtHeader);
    padding: 0 50px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 2px solid var(--green);
}
.header * {
    color: #fff;
}
.header__author{
    font-size: 21px;
}
.header__nav{
    margin-left: auto;
}
.header__nav ul {
    display: flex;
}
.header__nav ul li {
    margin: 0 13px;
}

